/*--------------FONT---------------*/

@font-face{
    font-family: Sans-Regular;
    src: url("SourceSansPro-Regular.ttf");
}

@font-face{
    font-family: Sans-Bold;
    src: url("SourceSansPro-SemiBold.ttf");
}


/*------X--------FONT---------X------*/


/*-------------- DECLARATION -----------*/

:root{
    --blue : #211839;
    --orange : #FF7C1C;
}
/*-------------- DECLARATION -----------*/

body,html{
   
    height: 100%;
    width: 100%;
    font-family : Sans-Regular;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contactpage{
    max-height: 1080px;
    max-width: 1920px;
    height:100%;
    width: 100%;
}


/*-------------------FIRST PAGE--------------------*/




/*---------------NAVIGATION BAR-- --------------*/
.toggle
{
    color : white;
    display : none;
    font-size: 1.5rem;
    z-index:2;
    margin: 1.5rem;
}


.navbar{
    background: linear-gradient(to right, var(--orange),#FF0000);
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-container{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 100%;
    width: 100%;
    background : url(advantageplus_dark_logo.png) no-repeat;
    background-size: contain;
}


.navlinks ul{
    list-style: none;
}

.navlinks li{
    display: inline-block;
    margin-right: 3rem;
    padding: .2rem;
   
}

.navlinks a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: .5rem .9rem .5rem .9rem;
}

.navlinks .active{
    color: var(--blue);
    background-color: white;
    border-radius: 20px;
}

.navlinks a:hover{
   color: var(--blue);
   background-color: white;
   border-radius: 20px;
}


/*----------X---------- NAVIGATION BAR ----------X----------*/
.contact-content{
    height:90%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.google-map
{
    height: 70%;
}
.contact-info
{
    height: 70%;
}

.title
{
    padding: 0.5rem;
    text-align: left;
    font-family: Sans-Bold;
    font-size: 2rem;
}
.line 
{
    border: 1px solid var(--orange);
}
.column
{
    padding: 0.5rem;
    font-size: 1.2rem;
    font-family: Sans-Regular;
}
.header
{
    font-weight: bold;
}
