@font-face{
    font-family: Sans-Regular;
    src: url("SourceSansPro-Regular.ttf");
}

@font-face{
    font-family: Sans-Bold;
    src: url("SourceSansPro-SemiBold.ttf");
}

html{
    --blue : #1D0067;
    --orange : #ff7716;
    height: 100%;
    width: 100%;
}

a::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
a::-moz-selection {
    color: none;
    background: none;
}

body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Sans-Regular;
}

.container{
    height: 100%;
    width: 100%;
    max-height: 1080px;
    max-width: 1920px;
    margin: auto;
}

.menu{
    position: absolute;
    top:2.5rem;
    right: 5%;
    display: none;
    z-index: 20;
    height: 35px;
    width: 35px;
}

.top{
    position: absolute;
    top: 15%;
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background-color: var(--blue);
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.middle{
    position: absolute;
    top: 45%;
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background-color: var(--blue);
}

.bottom{
    position: absolute;
    top: 75%;
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background-color: var(--blue);
}

.icon.close .top{
    transform: rotate(45deg);
    top:45%;
}

.icon.close .middle,.icon.close .bottom{
    transform: rotate(-45deg);
    top:45%;
}

.navbar{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.logo{
    height: 100%;
    width: 40%;
}

ul{
    align-self: flex-start;
    width: 45%;
    list-style: none;
    margin:0;
    margin-top: 2rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    margin-right: 1rem;
    text-align: center;
    display: block;
    overflow: hidden;
}

a{
    padding: 10px 20px;
    display: block;
    color:var(--blue);
    font-size: 1.2rem;
    font-family: Sans-Regular;
    text-decoration: none;
}

.active{
    border-radius: 10px;
    background-color: var(--orange);
}

.active a{
    color:white;
}

li:hover{
    border-radius: 10px;
    background-color: var(--orange);
}

li:hover > a{
    color:white;
}

.dropdown:hover{
    border-radius: 10px;
    background-color:  var(--orange);
}

.dropdown:hover a{
    cursor: pointer;
    color:white;
}

.dropdowncontent{
    position: absolute;
    background: white;
    z-index: 1;
    margin-top: 5px;
    border-radius: 10px ;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}

.dropdowncontent a{
    font-size: 1.1rem;
    color:var(--blue);
}

.dropdownitem{
    width: 100%;    
    margin: 5px 40px 5px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dropdownitem > a{
    margin-right: auto;
}

.dropdownitem > img{
    margin-right: 10px;
}

.contact-contents{
    height: 85%;
    width: 100%;
    display: grid;
    grid-template-columns: 100% ;
    grid-template-rows: 19% 80% ;
    grid-row-gap: 20px;
    margin-top: 1.5rem;
}

.title{
    margin: 0  auto;
    font-size: 1.5rem;
}

.title h1{
    color: var(--blue);
}

.title span{
    color: var(--orange);
}

.content{
    display: flex;
    justify-content:center;
    align-items: flex-start;
}

.map{
    box-shadow: -3px 3px 5px #aaaaaa;
    width: 600px;
    height: 450px;
}

.info-container{
    box-shadow: 3px 3px 5px #aaaaaa;
    width: 600px;
    height: 450px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info{
    display: grid;
    grid-template-rows: 15% 15% 70%;
}

.city{
    font-size: 1.5rem;
    font-weight: bold;
}

.address-info{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 30% 50%;
}

.address-title{
    font-weight: bold;
}

.feedback-container{
    height: 90%;
    width: 100%;
    max-height: 1080px;
    max-width: 1920px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.feedback-container .title{
    margin-bottom: 3rem;
    text-align: center;
}

.fcontent{
    margin-bottom: auto;
    width: 40%;
}

.fcontent form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 1.5rem;
    grid-column-gap: 1rem;
}

input[type=text] {
    border: 1px solid var(--orange);
    border-radius: 4px;
    padding: 1rem 10px;
    font-weight: bold;
}

input[type=submit] {
    font-weight: bold;
    color: white;
    background-color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 4px;
    padding: 1rem 10px;
    grid-column: 1 /span 2;
}

input[type=text]:hover{
    border: 1px solid var(--blue);
}

input[type=submit]:hover{
    cursor: pointer;
    color: #fff2e8;
}

#item3,#item4,#item5{
    grid-column: 1 /span 2;
}

#item5{
    grid-row: 4 /span 8;
}


.footer{
    max-height:324px;
    max-width: 1920px;
    margin-top:5%;
    height: 6%;
    width:100%;
    background:var(--orange);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer > p {
    margin: 0;
    font-size: 1.2rem;
    color:white;
}


@media (max-aspect-ratio: 7/4),(max-width:1024px)
{
    
    .navbar{
        background-color: white;
    }

    ul{
        width: 70%;
    }

    a{
        color:var(--blue);
    }
    
    .active a{
        color: white;
    }

    .active{
        background-color: var(--orange);
    }

    
    li:hover{
        border-radius: 10px;
        background-color: var(--orange);
    }

    li:hover > a{
        color:white;
    }

    
}

@media  (max-width:968px){

    .container{
        min-height: 800px;

    }

    .contact-contents{
        min-height: 800px;
        grid-template-rows: 10% 80% ;
    }

    .title{
        font-size: 1rem;
    }

    .menu{
        display: block;
    }

    ul{
        z-index: 10;
        min-height: 100%;
        height: 100%;
        width: 100%;
        display: flex;
        position: absolute;
        top: 0;
        margin:0;
        left: -100%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: white;
        transition: 1s;
    }

    .content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .map{
        box-shadow: 0px 0px 5px #aaaaaa;
        margin: auto;
        width: 90%;
        height: 300px;
    }

    .map iframe{
        margin: auto;
        width: 100%;
        height: 300px;
    }

    .info-container{
        box-shadow: 0px 0px 5px #aaaaaa;
        margin-top: 1rem ;
        width: 90%;
        height: 350px;
    }

    .info{
        margin-left:20px ;
        display: grid;
        grid-template-rows: 15% 15% 70%;
    }
    
    .city{
        font-size: 0.9rem;
        font-weight: bold;
    }
    
    .address-info{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 30% 50%;
    }

    .feedback-container .title{
        width: 90%;
    }

    .feedback-container{
        justify-content: center;
        height: 800px;
        width: 100%;
        min-height: 800px;
    }
    
    .fcontent{
        width: 90%;
        margin:0;
    }

    .fcontent form{
        grid-row-gap: 10px ;
        grid-column-gap: 5px;
    }

    
    .footer > p{
        font-size:0.9rem;
    }
}

@media screen and (min-width:1920px)
{
    ul{
        width:40%;
    }

    a{
        font-size: 1.5rem;
    }

}
