@font-face{
    font-family: Sans-Regular;
    src: url("SourceSansPro-Regular.ttf");
}

@font-face{
    font-family: Sans-Bold;
    src: url("SourceSansPro-SemiBold.ttf");
}

html{
    --blue : #1D0067;
    --orange : #FF7C1C;
    height: 100%;
    width: 100%;
}

::selection {
    color: none;
    background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
    color: none;
    background: none;
}

body{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Sans-Regular;
}

.container{
    background: url(./background.svg);
    background-size: cover;
    height: 100%;
    width: 100%;
    max-height: 1080px;
    max-width: 1920px;
    margin: auto;
}

.menu{
    position: absolute;
    top:2.5rem;
    right: 5%;
    display: none;
    z-index: 20;
    height: 35px;
    width: 35px;
}

.top{
    position: absolute;
    top: 15%;
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background-color: var(--blue);
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.middle{
    position: absolute;
    top: 45%;
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background-color: var(--blue);
}

.bottom{
    position: absolute;
    top: 75%;
    height: 6px;
    width: 100%;
    border-radius: 50px;
    background-color: var(--blue);
}

.icon.close .top{
    transform: rotate(45deg);
    top:45%;
}

.icon.close .middle,.icon.close .bottom{
    transform: rotate(-45deg);
    top:45%;
}

.navbar{
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 100%;
    width: 40%;
}

ul{
    align-self: flex-start;
    width: 45%;
    list-style: none;
    margin:0;
    margin-top: 2rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li{
    margin-right: 1rem;
    text-align: center;
    display: block;
    overflow: hidden;
}

a{
    padding: 10px 20px;
    display: block;
    color: white;
    font-size: 1.2rem;
    font-family: Sans-Regular;
    text-decoration: none;
}

.active{
    border-radius: 10px;
    background-color: white;
}

.active a{
    color:var(--blue);
}

li:hover{
    border-radius: 10px;
    background-color: white;
}

li:hover > a{
    color:var(--blue);
}

.dropdown:hover{
    border-radius: 10px;
    background-color: white ;
}

.dropdown:hover a{
    cursor: pointer;
    color:var(--blue);
}

.dropdowncontent{
    position: absolute;
    background: white;
    z-index: 1;
    margin-top: 5px;
    border-radius: 10px ;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}

.dropdowncontent a{
    font-size: 1.1rem;
    color:var(--blue);
}

.dropdownitem{
    width: 100%;    
    margin: 5px 40px 5px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dropdownitem > a{
    margin-right: auto;
}

.dropdownitem > img{
    margin-right: 10px;
}


.showcase{
    height: 85%;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: 100% 100%;
    grid-gap: 10%;
}

.title{
    padding: 50px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title span{
    color: var(--orange);
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title > h1{
    animation: myfirst 2s;
    animation-direction: alternate;
    color:var(--blue);
    text-align: center;
    position: relative;
}

.content > img{
    max-height: 45%;
    height: 20rem;
}

.container2{
    width: 100%;
    height: 100%;
    max-height: 1080px;
    max-width: 1920px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.intro-title{
    animation: myfirst 6s 2;
    color:#1D0067;
    margin-top: 5rem;
    font-size: 3rem;
}

@keyframes myfirst {
    0%   { left: -80px; top: 0px;}
    25%  { left: 0px; top: 0px;}
}

.seprator{
    width: 60%;
    border: 1px solid #FF7C1C;
}

.intro-content{
    margin-bottom: auto;
    margin-top: 3rem;
    font-size: 1.2rem;
    max-width: 60%;
}

.footer{
    max-height:324px;
    max-width: 1920px;
    margin-top:5%;
    height: 25%;
    width:100%;
    background: url(./advantageplus_footer.svg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer > p {
    margin: 0;
    font-size: 1.2rem;
    color:white;
}


@media (max-aspect-ratio: 7/4),(max-width:1024px)
{
    .container{
        background:linear-gradient(var(--orange),red);
    }

    .container2{
        min-height: 65%;
    }

    .navbar{
        background-color: white;
    }

    ul{
        width: 70%;
    }

    a{
        color:var(--blue);
    }
    
    .active a{
        color: white;
    }

    .active{
        background-color: var(--orange);
    }

    
    li:hover{
        border-radius: 10px;
        background-color: var(--orange);
    }

    li:hover > a{
        color:white;
    }

    .title{
        margin:30px ;
    }

    .title h1{
        width: 70%;
        font-size: 3rem;
        color:white;
    }

    .showcase{
        grid-template-columns: 100%;
        grid-template-rows: 30% 70%;
        grid-gap: 0;
    }

    .content{
        justify-content: space-evenly;
    }

    .content > img{
        max-height: 70%;
    }

    
}

@media  (max-width:968px){

    .container{
        min-height: 800px;
    }

    .container2{
        min-height: 800px;
        max-height: 800px;
    }
    
    .menu{
        display: block;
    }

    ul{
        z-index: 10;
        min-height: 100%;
        height: 100%;
        width: 100%;
        display: flex;
        position: absolute;
        top: 0;
        margin:0;
        left: -100%;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background-color: white;
        transition: 1s;
    }

    .content{
        flex-direction: column;
    }

    .title{
        margin:0;
    
    }

    .title h1{
        width: 90%;
        font-size: 1.7rem;
        color:white;
    }

    .content > img{
        max-height: 45%;
    }

    .dropdownitem > img{
        margin-right: 10px;
    }

    .intro-title{
        font-size: 1.7rem;
    }

    .seprator{
        width: 90%;
    }

    .intro-content{
        margin-top: 1.5rem;
        font-size:0.9rem;
        max-width: 90%;
    }

    .footer{  
        margin: 1.5rem 0 0 0;
    }

    .footer > p{
        font-size:0.9rem;
    }
}

@media screen and (min-width:1920px)
{
    ul{
        width:40%;
    }

    a{
        font-size: 1.5rem;
    }

    .container2{
        justify-content: flex-end;
    }
    
    .intro-content,.seprator{
        margin-bottom: 0;
        width: 50%;
        font-size:1.5rem;
    }

    .footer > p {
        font-size: 1.5rem;
        color:white;
    }
}
